          
<div id="social-right">
  <div class="fb-like-box" data-href="http://www.facebook.com/coro.orquesta.bilbao" data-width="292" data-show-faces="true" data-colorscheme="light" data-stream="true" data-header="true" data-border-color="#900" ></div>
</div>