
<div id="submenu-wrapper">
  <ul>
  <?php if(get_slot('submenu') == 'inicio'): ?>
    <li class="<?php echo ($ruta == 'homepage')? 'activo': ''; ?>"><?php echo link_to('Principal', 'homepage'); ?></li>
    <li class="<?php echo ($ruta == 'historia')? 'activo': ''; ?>"><?php echo link_to('Historia', 'historia'); ?></li>
    <li class="<?php echo ($ruta == 'escuchanos')? 'activo': ''; ?>"><?php echo link_to('Escúchanos', 'escuchanos'); ?></li>
    <li class="<?php echo ($ruta == 'repertorio')? 'activo': ''; ?>"><?php echo link_to('Repertorio', 'repertorio'); ?></li>
    <li class="<?php echo ($ruta == 'docs_interes')? 'activo': ''; ?>"><?php echo link_to('Documentos de interés', 'docs_interes'); ?></li>
  <?php elseif(get_slot('submenu') == 'concierto'): ?>
    <li class="<?php echo ($ruta == 'proximos_conciertos')? 'activo': ''; ?>"><?php echo link_to('Próximos conciertos', 'proximos_conciertos'); ?></li>
    <li class="<?php echo ($ruta == 'historico_conciertos')? 'activo': ''; ?>"><?php echo link_to('Histórico de conciertos', 'historico_conciertos'); ?></li>
    <li class="<?php echo ($ruta == 'criticas_conciertos')? 'activo': ''; ?>"><?php echo link_to('Críticas y agradecimientos', 'criticas_conciertos'); ?></li>
  <?php elseif(get_slot('submenu') == 'miembro'): ?>
    <li class="<?php echo ($ruta == 'direccion')? 'activo': ''; ?>"><?php echo link_to('Dirección', 'direccion'); ?></li>
    <li class="<?php echo ($ruta == 'coro')? 'activo': ''; ?>"><?php echo link_to('Coro', 'coro'); ?></li>
    <li class="<?php echo ($ruta == 'orquesta')? 'activo': ''; ?>"><?php echo link_to('Orquesta', 'orquesta'); ?></li>
    <li class="<?php echo ($ruta == 'junta_directiva')? 'activo': ''; ?>"><?php echo link_to('Junta directiva', 'junta_directiva'); ?></li>
  <?php endif; ?>  
  </ul>
</div>