{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Alain Sancho, antiguo director{% endblock %}

{% block description_metatag %}
    Alain Sancho, antiguo director del Coro y Orquesta de Cámara de Bilbao desde febrero de 2006 hasta marzo de 2009. Especialidad en Dirección de Orquesta.
{% endblock %}

{% block keywords_metatag %}
    Alain Sancho, antiguo director, coro, orquesta, cámara, bilbao, armonía, composición, dirección, actuar, especialidad, saxofón, estudios
{% endblock %}

{% block content %}
<h1>Alain Sancho, Antiguo director del coro y orquesta</h1>

<p>Nacido en Bilbao en 1981. Comienza sus estudios de saxofón en el Conservatorio de Grado Medio Andrés Isasi de Getxo con el profesor Alfonso Vila, obteniendo las máximas calificaciones. Al mismo tiempo comienza a estudiar piano y canto. Continúa sus estudios en el Conservatorio Superior J.C. Arriaga de Bilbao, obteniendo el Título Superior de Saxofón.</p>

<p>Su interés por la composición se remonta a su más temprana edad. Termina los estudios de armonía con sobresaliente en el Conservatorio Superior de Bilbao y posteriormente recibe clases particulares de armonía y composición del compositor donostiarra Gorka Cuesta. Acude a clases magistrales de los compositores Gabriel Brncic, Laurent Martin. Asimismo, ha sido alumno oficial de compositores como Jose Luis Campana, Jesús Etxeberria, Milena Perisic, Isabel Urrutia, etc.</p>

<p>En el año 2003 obtiene las mejores calificaciones en las pruebas de acceso a Dirección de Orquesta y a Composición del Conservatorio Superior del País Vasco Musikene y ese mismo año gana la beca de la diputación de Vizcaya con la que estudia Dirección de Orquesta en dicho centro con el Maestro Enrique García Asensio. También ha recibido clases del Maestro Jorma Panula, catedrático del Conservatorio escandinavo Sibelius, y ha sido director del Ensamble de Saxofones de Musikene durante el 2003-2004.</p>

<p>En el verano del 2004 dirige la banda sonora del largometraje The Birthday, compuesta por Fernando Velázquez y estrenada en Cannes.</p>

<p>En enero de 2005 se hace cargo de la Dirección Artística de la orquesta de cuerdas Sinfonietta Ricercare con la que ha actuado actuado en numerosas ocasiones. Entre otros caben destacar los Conciertos de Otoño 2005 de la Diputación de Vizcaya en Getxo, Musikaire 2005 en Elorrio, el ofrecido en el Festival de Nájera 2006, las Jornadas Musicales de Gernika en 2006, el estreno del Poema Sinfónico Gorliz de Julen Escurra en 2007 y el Ciclo de Conciertos de Ziortza 2008 en Markina. Simultáneamente, la orquesta es parte integrante del proyecto Euskal Kantu Liriko Berriak que consiste en promocionar nuevos valores de la música lírica vasca. Unido al proyecto ha actuado en diferentes lugares del País Vasco y ha participado en el Ciclo de Música Clásica de la Semana Grande de Bilbao. Para la realización de estos conciertos ha contado, entre otros, con los solistas vocales Garbiñe Abedaño, Pedro Calderón, Marta Velasco, Irantzu Bartolomé, etc.</p>

<p>En febrero de 2006 asume el cargo de Director Artístico de la Asociación de Música de Cámara de Bilbao, dirigiendo tanto la orquesta como el coro de dicha compañía. Desde ese preciso momento hasta el día de hoy ejerce las labores de orquestador, arreglista, compositor y director del grupo. Ha dado conciertos en numerosos lugares de Bilbao y de Vizcaya. En verano de 2006, viajó a Italia con la agrupación para actuar en el palacio Frascati, en colaboración con la Universidad de Roma.</p>

<p>En verano de 2007 dirige el poema sinfónico-coral Gorliz compuesto por Julen Ezkurra en conmemoración a dicha ciudad. Y en julio del 2008, en el último curso de la carrera, obtiene la calificación de Sobresaliente en la asignatura de Dirección de Orquesta y en la mayoría de las asignaturas restantes.</p>

<p>En marzo del 2009 fue sustituido por <a href="{{ path('ficha_txaber_fernandez') }}" title="Txaber Fernández, Antiguo director del coro y orquesta">Txaber Fernández Martín</a> como director de la orquesta y coro de cámara.</p>

{% endblock %}