{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Elena Roldán, solista{% endblock %}

{% block description_metatag %}
Elena Roldán, mezzosoprano solista en el Coro de Cámara de Bilbao con titulación de Magisterio musical y estudios de canto, piano y solfeo.
{% endblock %}

{% block keywords_metatag %}
Elena Roldán, mezzosoprano solista, coro, cámara, bilbao, magisterio musical, conservatorio, zarzuela, estudios, canto, piano, solfeo
{% endblock %}

{% block content %}
<h1>Elena Roldán, Mezzosoprano solista</h1>

<p><img class="parrafo-izq" alt="Elena Roldán, Mezzosoprano solista" title="Elena Roldán, Mezzosoprano solista" src="{{ asset('bundles/common/images/miembros/elena-roldan.jpg') }}" />Nacida en Barakaldo (Bizkaia), realizó sus estudios de Solfeo, Piano y Canto en el Conservatorio Superior de Música “Juan Crisóstomo de Arriaga” de Bilbao y en el Conservatorio Municipal de Música de Barakaldo.</p>

<p>Paralelamente a sus estudios musicales completa la carrera de Magisterio, en cuya rama musical desarrolla ahora su labor educativa.</p>

<p>Cursa sus estudios de canto con la profesora <a href="{{ path('ficha_maria_montes') }}" title="María Montes, soprano solista y profesora de canto">María Montes</a>, bajo cuya supervisión continúa en la actualidad. Desde sus comienzos en esta disciplina ha sido miembro de diversas corales: “Zigor” de Barakaldo, la “Asociación de Música de Cámara de Bilbao”, con actuaciones en Bilbao, Gerona, Madrid..., en papeles de solista y en la que continúa en la actualidad; en la Coral “Pispillu” de Ermua, de la que además ha sido profesora de canto; Coro de la UPV, y en el Coro “Rossini”. Así mismo ha tomado parte como coralista en el “Mesías” Participativo que organiza y patrocina La Caixa.</p>

<p>Como solista ha participado en varios festivales de zarzuela organizados en Barakaldo y Ermua, y en representaciones de “La tabernera del puerto” del maestro Sorozábal en localidades como Ermua, Santurce y Bilbao. También ha representado la opereta para niños “El arca de Noé” de Britten en el teatro Arriaga de Bilbao, en Durango y Getxo.</p>

<p>Ha realizado varios cursos de Artes Escénicas con el maestro Luis López Tejedor.</p>

<p>Sus más recientes actuaciones han sido como solista en una gira por el norte de Italia a petición de la Coral “San Antonio de Iralabarri” de Bilbao; con la Coral “Santa María” de Portugalete; otras actuaciones en diversas localidades de Bizkaia; y en distintas actividades organizadas por el Conservatorio Juan Crisóstomo de Arriaga: audiciones en el mismo Centro, en el Palacio Euskalduna con motivo del ciclo “Música-musikak”, misas, conciertos con órgano y un largo etcétera.</p>

<p>Colabora además con agrupaciones dedicadas al montaje y representación de festivales de zarzuela como, por ejemplo, el Cuadro Escénico Don Bosco de Barakaldo o el Orfeón Baracaldés de la misma localidad.</p>

{% endblock %}