{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Hilario Extremiana, director{% endblock %}

{% block description_metatag %}
    Hilario Extremiana, director del Coro y Orquesta de Cámara de Bilbao desde octubre de 2014. Profesor de Armonía y Director de Orquesta.
{% endblock %}

{% block keywords_metatag %}
    Hilario Extremiana, director, coro, orquesta, cámara, bilbao, vitoria, banda municipal, compositor, profesor, armonía, dirección, arreglista
{% endblock %}

{% block content %}
<h1>Hilario Extremiana, director del coro y orquesta</h1>

    <p><img class="parrafo-izq" alt="Hilario Extremiana, Director del coro y orquesta" title="Hilario Extremiana, Director del coro y orquesta" src="{{ asset('bundles/common/images/miembros/hilario-extremiana.jpg') }}" />Se inicia en la música a muy temprana edad de la mano de su padre y de Manuel Celdrán. En Vitoria estudia Armonía y Composición con Carmelo Bernaola, en Bilbao con Juan Cordero, en Siena, Italia, en el curso de verano de la Academia Chigiana de 1992, con Franco Donatoni. En Madrid finaliza los estudios superiores de Composición con Antón García Abril y los de Dirección de Orquesta con Enrique Garcia Asensio. También cursa Clarinete y Piano.</p>

    <p>Sus obras abarcan géneros estilos y formaciones muy diversas como por ejemplo "Abendmusik" para guitarra, "Carptim" para cuarteto de cuerda con trombón; Divertimento "Termes III" para quinteto de viento;  "Bilgune baterako musika"-"Música para un encuentro" para Orquesta/Banda, "Concierto para Tuba", "Tres improvisaciones cadencia y final" para clarinete y Banda Sinfónica,  o la ópera "La Cenicienta roja".</p>

    <p>Sus composiciones son interpretadas en programaciones nacionales e internacionales: Orquesta Sinfónica de Euskadi, programación de Cámara de la Orquesta Sinfónica de Bilbao, Recitales de nueva lírica vasca; Asociación de Compositores del País Vasco; Asociación Silboberri; Fundación BBVA,  Quincena Musical de San Sebastián, Musikaste de Renteria, Bandas de Bilbao, Vitoria, Pamplona, Well Recital Hall at "Carnegie Hall" de New York, Instituto Cervantes de Londres, "Royal School of Music" de Londres, Manchester, festival A Tempo de Venezuela, Conservatorios de China; Bath Spa University, Inglaterra; Colegio de España, París etc.</p>

    <p>Alguna de sus obras han sido grabadas en diversas radios: R.N.E clásica, EITB (radio y televisión vasca), R. Brno., R. Hong Kong, R. Portugal, R. Circulo de Bellas Artes de Madrid. Tiene editadas varias partituras dedicadas a la música de cámara y alguna de ellas forma parte de los programas de estudio de algunos conservatorios como por ejemplo: Musikene (País Vasco), Burgos, Vitoria-Gasteiz, Barakaldo... y en varios CD está incluido como autor, arreglista o director.</p>

    <p>Ha recibido encargos de diferentes instituciones musicales y varios premios a la Creación Musical entre los que caben destacar:</p>

    <ul class="lista-puntos">
        <li>Primer Premio de composición Caja de Alava.</li>
        <li>Segundo Premio Jesús Guridi, Vitoria</li>
        <li>Primer Premio internacional de música de cámara para Saxofón Madrid, "gran premio Comunidad de Madrid" 1991</li>
        <li>Mención Especial del jurado del Comité Judío internacional para la Creación Musical, Los Ángeles EE.UU.</li>
        <li>Premio del Gobierno Vasco a la creación musical 1999 (25 aniversario de ERESBIL)</li>
        <li>Primer premio Ciudad de Durango de música de cámara para Txistu organizado por Berzistu-Silboberri, 2013</li>
        <li>Premios de la Asociación Kanta Berri, Bayona (Francia)</li>
        <li>Subvenciones en los concursos para la creación musical convocados por el Gobierno Vasco.</li>
    </ul>

    <p>Es de subrayar también su labor como arreglista para diferentes formaciones y estilos musicales que van desde el clásico hasta el Pop o el Folk, dedicando a la Banda, sola o con otra formación vocal o instrumental,  la mayor parte de dichos arreglos. Arreglos específicos para Banda y el grupo Folk OSKORRI (CD Banda Band) con música del citado grupo han sido interpretados por Bandas de Música del País Vasco (Vitoria, Bilbao, LLodio, Zalla, Orduña, Sopelana, Irún, Eibar, Portugalete, Santurce, etc.), Bandas Municipales de Pamplona, Madrid, Barcelona, La romántica de Saladar (Xábia, Valencia), Buenos Aires (Argentina), Santiago (Chile).</p>

    <p>Fue profesor de Armonía, Formas Musicales y Director de la Orquesta del Conservatorio Superior de Bilbao, formando parte del equipo directivo durante cuatro años. También ha sido profesor en otros centros (Vitoria, Miranda de Ebro, Amurrio), y ha impartido cursos en, Escuelas de música, Universidad de Deusto, Universidad del País Vasco (charlas sobre obras programadas por la Orquesta Sinfónica de Bilbao), Juventudes Musicales etc.</p>

    <p>Ha sido Director del coro Zigor de Barakaldo (Vizcaya), grupo de metales de Álava y Director invitado de un buen número de agrupaciones vocales e instrumentales, dirigiendo un gran número de géneros musicales entre ellos la música escénica que Paul Dessan escribió para la obra de Bertolt Brecht "La persona buena de Sezuan".</p>

    <p>Fue presidente de la Asociación Vasco-Navarra de compositores, miembro fundador de la Asociación de músicos KURAIA.</p>

    <p>Es Director titular, por Concurso-oposición, de la Banda Municipal de Música de Vitoria-Gasteiz con la que realiza una importante labor de difusión musical, dirigiendo, junto a la Agrupación Musical, a solistas y agrupaciones nacionales e internacionales, coros (Samaniego, Araba, Manuel Iradier... Andra Mari de Renteria...), escolanías (Crescendo, Udaberria, Asociación de escolanias de Alava) etc.</p>

    <p>En octubre de 2014 se hace cargo de la Dirección artística de la Asociación de Música de Cámara de Bilbao, asumiendo la dirección del Coro y la Orquesta de dicha agrupación, sucediendo a <a href="{{ path('ficha_paula_perez') }}" title="Paula Pérez, Antigua directora del coro y orquesta">Paula Pérez</a>.</p>

{% endblock %}