{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}María Montes, solista y profesora de canto{% endblock %}

{% block description_metatag %}
    María Montes, soprano solista en el Coro de Cámara de Bilbao, profesora superior de canto, piano y ortofonía, y con estudios de guitarra clásica y percusión.
{% endblock %}

{% block keywords_metatag %}
    María Montes, soprano solista, coro, cámara, bilbao, profesora, canto, piano, ortofónica, conservatorio, zarzuela, teatro, conciertos, estudios, guitarra
{% endblock %}

{% block content %}
<h1>María Montes, Soprano solista y profesora de canto</h1>

<p><img class="parrafo-izq" alt="María Montes, Soprano solista y profesora de canto" title="María Montes, Soprano solista y profesora de canto" src="{{ asset('bundles/common/images/miembros/maria-montes.jpg') }}" />Profesora superior de canto y piano, titulada por el Conservatorio Juan Crisóstomo de Arriaga de Bilbao, tiene realizados estudios de guitarra clásica y percusión en el mismo conservatorio, aunque su especialización la ha desarrollado en el campo de voz, ampliando sus conocimientos de estilo vocal con el Maestro Alejandro Zabala.</p>

<p>Como cantante ha interpretado numerosos conciertos con obras desde el barroco hasta el contemporáneo. Ha ejercido de profesora de canto en varias agrupaciones corales del País Vasco y Cantabria (Coral Zigor, Orfeón Baracaldés, Santa Maria de Portugalete). Ha participado en varias zarzuelas como solista junto al Orfeón Baracaldés y en otras obras contemporáneas como “Concierto para marimba y coro” de Robert E. Kreutz el cual supuso el su estreno en Europa.</p>

<p>En 1.992 creó junto a Carlos González (profesor de guitarra) el Dúo Classic especializado en música Sefardí, dando numerosos conciertos en distintos lugares de nuestra geografía.</p>

<p>Desde 2.001 junto a Verónica Bustamante y Victoria Blanco forman “Le Donne” trío de música clásica compuesta por Soprano, Mezzo soprano y Pianista con participación en conciertos de nuestro entorno.</p>

<p>En la actualidad ejerce de profesora de canto en el Conservatorio de Música Bedmar de Bilbao, así como de profesora de canto y ortofónica en la Escuela de Teatro de Getxo, así mismo participa activamente como cantante solista, miembro de la junta y profesora de canto en el Coro y Orquesta de Cámara de Bilbao.</p>

{% endblock %}
