{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Miembros de la orquesta{% endblock %}

{% block content %}
<h1>Miembros de la orquesta</h1>

<table id="tabla-orquesta">
  <tbody>
    
    <tr>
      <td>Estibaliz Ruiz Oiz</td>
      <td>1º violín, concertino</td>
    </tr>
    <tr>
      <td>Emilia Aaltonen</td>
      <td>1º violín</td>
    </tr>
    <tr>
      <td>Cristina Bizarro</td>
      <td>1º violín</td>
    </tr>
    <tr>
      <td>Itziar Bizkarralegorra Otazua</td>
      <td>1º violín</td>
    </tr>
    <tr>
      <td>Garazi Martínez Gómez</td>
      <td>1º violín</td>
    </tr>
    <tr>
      <td>Juan Andrés Vazquez Antón</td>
      <td>1º violín</td>
    </tr>
    
    <tr>
      <td>Ricardo Pocino Martín</td>
      <td>2º violín, concertino</td>
    </tr>
    <tr>
      <td>Edgardo Pérez Kondolf</td>
      <td>2º violín</td>
    </tr>
    <tr>
      <td>Esther Hernández Mejías</td>
      <td>2º violín</td>
    </tr>
    <tr>
      <td>Julián Martín García</td>
      <td>2º violín</td>
    </tr>
    <tr>
      <td>Josune Sarabia Zarraga</td>
      <td>2º violín</td>
    </tr>
    
    <tr>
      <td>Jesús Fernández Ibáñez</td>
      <td>Viola</td>
    </tr>
    <tr>
      <td>Elena Del Olmo</td>
      <td>Viola</td>
    </tr>
    <tr>
      <td>Izaskun Payas</td>
      <td>Viola</td>
    </tr>
    <tr>
      <td>Juan Ignacio Zorrilla</td>
      <td>Viola</td>
    </tr>
    
    <tr>
      <td>Ayla Losada Lorenzo de Reizábal</td>
      <td>Violonchelo, concertino</td>
    </tr>
    <tr>
      <td>Maider Camarero Susperregui</td>
      <td>Violonchelo</td>
    </tr>
    <tr>
      <td>Garazi Elizundia López</td>
      <td>Violonchelo</td>
    </tr>
    <tr>
      <td>Beatriz Elorza</td>
      <td>Violonchelo</td>
    </tr>
    <tr>
      <td>Stefanie Sonner</td>
      <td>Violonchelo</td>
    </tr>
    
    <tr>
      <td>Iratxe Celaya Lopez</td>
      <td>Oboe</td>
    </tr>
    <tr>
      <td>Olatz Ortega</td>
      <td>Oboe</td>
    </tr>
    <tr>
      <td>Agustín Churruca Otero</td>
      <td>Flauta</td>
    </tr>
    <tr>
      <td>Lourdes Suárez Fernández</td>
      <td>Flauta</td>
    </tr>
    <tr>
      <td>Iratxe Orokieta García</td>
      <td>Flauta - Flautín</td>
    </tr>
    <tr>
      <td>Oscar Riguera Sánchez</td>
      <td>Clarinete</td>
    </tr>
    <tr>
      <td>David Santana</td>
      <td>Fagot</td>
    </tr>
    
  </tbody>
</table>

{% endblock %}