{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/frontend/css/inicio.css') }}" />
{% endblock %}

{% block content %}
<h1>Historia</h1>


{% endblock %}