{% extends "FrontendBundle::layout.html.twig" %}

{% block pre_body %}
  {% include 'FrontendBundle::preSocial.html.twig' %}
{% endblock %}

{% block content %}
  
<h1>Asociación de Música de Cámara de Bilbao</h1>
<div id="contenido-inicio">
  

  <div class="imagen-inicio">
    <img src="{{ asset('bundles/frontend/images/portada.jpg') }}" alt="Asociación de Música de Cámara de Bilbao">
  </div>

  <p><strong>La Asociación de Música de Cámara de Bilbao</strong> nace en el año 1977 como agrupación coral hasta la consolidación de la orquesta. Desde ese mismo año comienzan las actuaciones de la agrupación, teniendo lugar, sobre todo, en Bilbao y alrededores, por el compromiso con el público de su entorno, pero además, actuando en diferentes comunidades de España.</p>

  <p>La Asociación de Música de Cámara de Bilbao es una organización que, en sus más de treinta años de andadura ha mantenido intacta una de sus cualidades más peculiares, como ha sido aunar en una agrupación <strong>un Coro y una Orquesta de Cámara</strong> de forma permanente y estable. Esta característica nos diferencia de numerosas agrupaciones que son estrictamente corales y de otras, ya menos numerosas, que son puramente orquestales.</p>
</div>
  
<div id="social-right">
  <div class="fb-like-box" data-href="http://www.facebook.com/coro.orquesta.bilbao" data-width="292" data-show-faces="true" data-colorscheme="light" data-stream="true" data-header="true" data-border-color="#900" ></div>
</div>

{% endblock %}
