/.idea
/.mage

/app/bootstrap.php.cache
/web/bundles/
/web/uploads/
/web/carteles/
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/sessions/*
/build/
/vendor/
/bin/
/composer.phar
*.*~

# SASS
*.css.map
/src/Amcb/AppBundle/Resources/assets/vendor/**/*.css
/src/Amcb/AppBundle/Resources/assets/css/*.css
# Solo publicamos main.css
!/src/Amcb/AppBundle/Resources/assets/css/main.css