{% extends "AppBundle::layout.html.twig" %}

{% block title %}Miembros del coro{% endblock %}

{% block description_metatag %}
    Listado de miembros del Coro de Cámara de Bilbao divididos en sus respectivas cuerdas y sus cantantes solistas.
{% endblock %}

{% block keywords_metatag %}
    Miembros, coro, cámara, bilbao, solistas, soprano, mezzosoprano, contralto, tenor, barítono, bajo, profesora de canto
{% endblock %}

{% block content %}
    <h1>Solistas</h1>

    <table>
        <tbody>
        <tr>
            <td class="col-sm-3 col-xs-4"><a href="{{ path('ficha_maria_montes') }}" title="Ver ficha de María Montes">María Montes</a></td>
            <td class="col-sm-9 col-xs-8">Soprano solista y profesora de canto</td>
        </tr>
        <tr>
            <td class="col-sm-3"><a href="{{ path('ficha_elena_roldan') }}" title="Ver ficha de Elena Roldán">Elena Roldán</a></td>
            <td class="col-sm-9">Contralto solista</td>
        </tr>
        </tbody>
    </table>

    <h1>Miembros del coro</h1>

    <div class="row">
        <div class="col-sm-6">
            <h2>Sopranos</h2>
            <ul class="list-group">
                <li class="list-group-item">Belén Castelló Zamora</li>
                <li class="list-group-item">Esther García</li>
                <li class="list-group-item">Ana González Ugalde</li>
                <li class="list-group-item">Arantza López Santiago</li>
                <li class="list-group-item">María José Martínez</li>
                <li class="list-group-item">María Montes Callejo</li>
                <li class="list-group-item">Raquel Pérez Blanco</li>
                <li class="list-group-item">Andrea Revuelta</li>
            </ul>
            <h2>Mezzosopranos y contraltos</h2>
            <ul class="list-group">
                <li class="list-group-item">Amaia Carrasco Alonso</li>
                <li class="list-group-item">Laura Franco Martín</li>
                <li class="list-group-item">Julia Guridi Ispizua</li>
                <li class="list-group-item">Ana Guerrero Vaquero</li>
                <li class="list-group-item">Elena Roldán Pérez</li>
                <li class="list-group-item">Lucía Vidal</li>
            </ul>
            <h2>Tenores</h2>
            <ul class="list-group">
                <li class="list-group-item">Juan Carlos Aceves Orrantia</li>
                <li class="list-group-item">Ignacio Abad Aldecoa</li>
                <li class="list-group-item">Ander Basaldúa Artiñano</li>
                <li class="list-group-item">Juan Carlos Arranz</li>
                <li class="list-group-item">Emilio de la Sierra Prada</li>
                <li class="list-group-item">Jose Ignacio del Campo Díez</li>
                <li class="list-group-item">Thomas Neuer</li>
                <li class="list-group-item">Pablo Palazuelos</li>
            </ul>
            <h2>Barítonos y bajos</h2>
            <ul class="list-group">
                <li class="list-group-item">Miguel Beroiz Pi</li>
                <li class="list-group-item">Enrique Irazabal Alonso</li>
                <li class="list-group-item">Juan Manuel Mazpule Ruiz</li>
                <li class="list-group-item">Ángel Miguel Ruiz Sáez</li>
                <li class="list-group-item">Juan Carlos Vivián Gómez</li>
            </ul>
        </div>
    </div>

{% endblock %}
