{% extends "AppBundle::layout.html.twig" %}

{% block title %}Miembros del coro{% endblock %}

{% block description_metatag %}
    Listado de miembros del Coro de Cámara de Bilbao divididos en sus respectivas cuerdas y sus cantantes solistas.
{% endblock %}

{% block keywords_metatag %}
    Miembros, coro, cámara, bilbao, solistas, soprano, mezzosoprano, contralto, tenor, barítono, bajo, profesora de canto
{% endblock %}

{% block content %}
    <h1>Solistas</h1>

    <table id="tabla-coro">
        <tbody>
        <tr>
            <td><a href="{{ path('ficha_maria_montes') }}" title="Ver ficha de María Montes">María Montes</a></td>
            <td>Soprano solista y profesora de canto</td>
        </tr>
        <tr>
            <td><a href="{{ path('ficha_elena_roldan') }}" title="Ver ficha de Elena Roldán">Elena Roldán</a></td>
            <td>Mezzosoprano solista</td>
        </tr>
        <tr>
            <td>Iker Freire Vivián</td>
            <td>Solista</td>
        </tr>
        <tr>
            <td>Arantza López</td>
            <td>Solista</td>
        </tr>
        </tbody>
    </table>

    <h1>Miembros del coro</h1>

    <div id="cuadrado-coro">
        <div id="mujeres">

            <div class="agudos">
                <h2>Sopranos</h2>
                <ul>
                    <li>Belén Castelló Zamora</li>
                    <li>Ana González Ugalde</li>
                    <li>Arantza López Santiago</li>
                    <li>María Montes Callejo</li>
                </ul>
            </div>

            <h2>Mezzosopranos y contraltos</h2>
            <ul>
                <li>Clara Barcia Pájaro</li>
                <li>Amaia Carrasco Alonso</li>
                <li>Verónica García</li>
                <li>Julia Guridi Ispizua</li>
                <li>Beatriz Gómez Fernandini</li>
                <li>Elena Roldán Pérez</li>
                <li>Carmen Lozón Marcaida</li>
                <li>Lucía Vidal</li>
            </ul>

        </div>
        <div id="hombres">

            <div class="agudos">
                <h2>Tenores</h2>
                <ul>
                    <li>Ignacio Abad Aldecoa</li>
                    <li>Emilio de la Sierra Prada</li>
                    <li>Juan Carlos Aceves Orrantia</li>
                    <li>Iker Freire Vivián</li>
                    <li>Pablo Palazuelos</li>
                </ul>
            </div>

            <h2>Barítonos y bajos</h2>
            <ul>
                <li>Ángel Miguel Ruiz Sáez</li>
                <li>Miguel Beroiz Pi</li>
                <li>Juan Manuel Mazpule Ruiz</li>
                <li>Juan Carlos Vivián Gómez</li>
            </ul>
        </div>
    </div>

{% endblock %}
