{% extends "AppBundle::layout.html.twig" %}

{% block title %}Daniel Garay, director{% endblock %}

{% block description_metatag %}
    Daniel Garay, director del Coro y Orquesta de Cámara de Bilbao desde septiembre de 2017. Licenciado en Ciencias de la música y Director de Orquesta.
{% endblock %}

{% block keywords_metatag %}
    Daniel Garay, director, coro, orquesta, cámara, bilbao, vitoria, universidad país vasco, dirección
{% endblock %}

{% block content %}
<h1>Daniel Garay, director del coro y orquesta</h1>

    <p><img class="pull-left thumbnail margin-right-sm" alt="Daniel Garay, Director del coro y orquesta" title="Daniel Garay, Director del coro y orquesta" src="{{ asset('bundles/app/images/miembros/daniel-garay.jpg') }}" />Nacido en Bilbao. Licenciado en Historia y Ciencias de la Música por la Universidad de La Rioja, Diplomado en dirección de orquesta en la Escuela de Dirección de Orquesta y Banda “Maestro Navarro Lara”, y Licenciado en Dirección de Orquesta por The Royal Schools of Music de Londres. Asiste a Clase Magistrales de los Maestros Rubén Gimeno, Álvaro Albiach, Miguel Romeay Yaron Traum. Cursó estudios de guitarra española y completó el Grado Profesional de flauta travesera con el profesor Francisco Antón. Estudios de Traverso barroco con Agostino Cirillo y Wilbert Hazelzet. Es miembro fundador del grupo Aula Boreal en 1999, como intérprete de traverso y guitarra barroca.</p>

    <p>Médico especialista en activo, es a través de la Facultad de Medicina como se integra en el Coro de la Universidad del País Vasco, donde ha prolongado su vinculación durante más de 25 años, participando en multitud de eventos como conciertos de polifonía, zarzuela, ópera y repertorio sinfónico-coral, habiendo sido dirigido por importantes maestros nacionales e internacionales.</p>

    <p>Debuta en la dirección de orquesta con la grabación de un CD con dos grandes obras inéditas del compositor barroco Andrés de Algarabel y Arroyo. Desde entonces, con Aula Boreal Camerata y la Orquesta ProArte de Madrid, dirige regularmente obras sinfónico-corales de diversos compositores del Barroco Español e Hispanoamericano (Salvador de Sancho, Acacio Garcilópez, Francisco Corral, etc.) recuperadas por Patxi García Garmilla, investigador en musicología española. Ha dirigido en diferentes localidades españolas destacando su participación en las ediciones XXII y XXV del Otoño Musical Soriano. Ha participado como director asistente para los conciertos de la EMSOC (European Medical Students Orchestra and Choir) en su última edición en el País Vasco. Especializado en interpretaciones corales, en su repertorio cuenta con obras como el Gloria de F. Poulenc, la Oda para el Funeral de la Reina Mary de H. Purcell, el Gloria de Vivaldi, la Cantata 140 de Bach y recientemente ha dirigido el estreno absoluto de la Cantata “El Cántico de las Criaturas” de Julen Ezkurra.</p>

    <p>En septiembre de 2017 se hace cargo de la Dirección artística de la Asociación de Música de Cámara de Bilbao, asumiendo la dirección del Coro y la Orquesta de dicha agrupación, sucediendo a <a href="{{ path('ficha_hilario_extremiana') }}" title="Hilario Extremiana, Antiguo director del coro y orquesta">Hilario Extremiana</a>.</p>

{% endblock %}
