{% extends "AppBundle::layout.html.twig" %}

{% block title %}Junta directiva{% endblock %}

{% block description_metatag %}
    Relación de miembros de la junta directiva de la Asociación de Música de Cámara de Bilbao, junto con los miembros de honor.
{% endblock %}

{% block keywords_metatag %}
    Miembros, junta, directiva, asociación, música, cámara, bilbao, amcb, presidente, vicepresidenta, secretaria, tesorero, vocal, honor, honorífico
{% endblock %}

{% block content %}
    <h1>Junta directiva de la AMCB</h1>

<div class="row">
    <div class="col-sm-6">
        <ul class="list-group">
            <li class="list-group-item"><strong>Presidente:</strong> Dn. José María Herrero</li>
            <li class="list-group-item"><strong>Vicepresidenta:</strong> Dña. Arantza López</li>
            <li class="list-group-item"><strong>Secretaria:</strong> Dña. Lucía Vidal López</li>
            <li class="list-group-item"><strong>Tesorera:</strong> Dña. Ana González</li>
            <li class="list-group-item"><strong>Vocal:</strong> Dña. María Montes</li>
            <li class="list-group-item"><strong>Vocal:</strong> Dña. Elena Roldán</li>
            <li class="list-group-item"><strong>Vocal:</strong> Dn. Juan Carlos Vivián</li>
            <li class="list-group-item"><strong>Vocal:</strong> Dña. Cristina Bizarro</li>
            <li class="list-group-item"><strong>Vocal:</strong> Dn. Eder Marigómiz Mangas</li>
        </ul>

        <h2>Miembros de honor</h2>

        <ul class="list-group">
            <li class="list-group-item"><strong>Presidente de Honor:</strong> Dn. Manuel Vicario Negrete</li>
            <li class="list-group-item"><strong>Tesorero de Honor:</strong> Don Vicente Rodríguez Moral</li>
        </ul>
    </div>
</div>
{% endblock %}
