{% extends "AppBundle::layout.html.twig" %}

{% block title %}Junta directiva{% endblock %}

{% block description_metatag %}
    Relación de miembros de la junta directiva de la Asociación de Música de Cámara de Bilbao, junto con los miembros de honor.
{% endblock %}

{% block keywords_metatag %}
    Miembros, junta, directiva, asociación, música, cámara, bilbao, amcb, presidente, vicepresidenta, secretaria, tesorero, vocal, honor, honorífico
{% endblock %}

{% block content %}
    <h1>Junta directiva de la AMCB</h1>

    <ul class="lista-junta">
        <li><strong>Presidente:</strong> Dn. José María Herrero</li>
        <li><strong>Vicepresidenta:</strong> Dña. Arantza López</li>
        <li><strong>Secretaria:</strong> Dña. Mª Belén Castelló Zamora</li>
        <li><strong>Tesorero:</strong> Dn. Juan Carlos Vivián</li>
        <li><strong>Vocal:</strong> Dña. María Montes</li>
        <li><strong>Vocal:</strong> Dña. Itziar Bizkarralegorra</li>
        <li><strong>Vocal:</strong> Dña. Elena Roldán</li>
        <li><strong>Vocal:</strong> Dña. Ana González</li>
        <li><strong>Vocal:</strong> Dña. Sara Gil</li>
    </ul>

    <h2>Miembros de honor</h2>

    <ul class="lista-junta">
        <li><strong>Presidente de Honor:</strong> Dn. Manuel Vicario Negrete</li>
        <li><strong>Tesorero de Honor:</strong> Don Vicente Rodríguez Moral</li>
    </ul>

{% endblock %}
