{% extends "AppBundle::layout.html.twig" %}

{% block title %}Miembros de la orquesta{% endblock %}

{% block description_metatag %}
    Listado de miembros de la Orquesta de Cámara de Bilbao divididos en instrumentos de cuerda y viento (madera y metal)
{% endblock %}

{% block keywords_metatag %}
    Miembros, orquesta, cámara, bilbao, cuerda, viento, concertino, violín, viola, violoncello, oboe, flauta, clarinete, fagot
{% endblock %}

{% block content %}
    <h1>Solistas</h1>

    <table>
        <tbody>
        <tr>
            <td class="col-sm-3 col-xs-5">Ricardo Pocino</td>
            <td class="col-sm-9 col-xs-7">1º violín, concertino</td>
        </tr>
        <tr>
            <td class="col-sm-3 col-xs-5">Óscar Riguera</td>
            <td class="col-sm-9 col-xs-7">Clarinete</td>
        </tr>
        </tbody>
    </table>

    <h1>Miembros de la orquesta</h1>

    <div class="col-sm-8">
    <table class="table">
        <thead>
        <tr>
            <th>Miembro</th>
            <th>Instrumento</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ricardo Pocino Martín</td>
            <td>1º violín, concertino</td>
        </tr>
        <tr>
            <td>Itziar Bizkarralegorra Otazua</td>
            <td>1º violín</td>
        </tr>
        <tr>
            <td>Eder Marigómez Mangas</td>
            <td>1º violín</td>
        </tr>
        <tr>
            <td>Juan Andrés Vazquez Antón</td>
            <td>1º violín</td>
        </tr>

        <tr>
            <td>Laura Benavente Ruiz</td>
            <td>2º violín</td>
        </tr>
        <tr>
            <td>Cristina Bizarro</td>
            <td>2º violín</td>
        </tr>
        <tr>
            <td>Edgardo Pérez</td>
            <td>2º violín</td>
        </tr>

        <tr>
            <td>Joseph Siegel</td>
            <td>Viola</td>
        </tr>
        <tr>
            <td>Juan Ignacio Zorrilla</td>
            <td>Viola</td>
        </tr>

        <tr>
            <td>Joel Moisés García</td>
            <td>Violonchelo</td>
        </tr>
        <tr>
            <td>Nuria Rodríguez</td>
            <td>Violonchelo</td>
        </tr>

        <tr>
            <td>Carmen Irigaray Lorea</td>
            <td>Contrabajo</td>
        </tr>
        <tr>
            <td>Nagore Riguera</td>
            <td>Contrabajo</td>
        </tr>

        <tr>
            <td>Cristina Fernández San Miguel</td>
            <td>Piano</td>
        </tr>

        <tr>
            <td>Agustín Churruca</td>
            <td>Flauta</td>
        </tr>
        <tr>
            <td>Oscar Riguera Sánchez</td>
            <td>Clarinete</td>
        </tr>
        <tr>
            <td>Emili Castelo-Branco</td>
            <td>Trompeta</td>
        </tr>
        <tr>
            <td>Andrea Blanco Fraile</td>
            <td>Fagot</td>
        </tr>

        <tr>
            <td>Javier Garay</td>
            <td>Timbales</td>
        </tr>

        </tbody>
    </table>
    </div>
{% endblock %}
