{% extends "AppBundle::layout.html.twig" %}

{% block title %}Miembros de la orquesta{% endblock %}

{% block description_metatag %}
    Listado de miembros de la Orquesta de Cámara de Bilbao divididos en instrumentos de cuerda y viento (madera y metal)
{% endblock %}

{% block keywords_metatag %}
    Miembros, orquesta, cámara, bilbao, cuerda, viento, concertino, violín, viola, violoncello, oboe, flauta, clarinete, fagot
{% endblock %}

{% block content %}
    <h1>Solistas</h1>

    <table id="tabla-coro">
        <tbody>
        <tr>
            <td>Ricardo Pocino</td>
            <td>1º violín, concertino</td>
        </tr>
        <tr>
            <td>Óscar Riguera</td>
            <td>Clarinete</td>
        </tr>
        </tbody>
    </table>

    <h1>Miembros de la orquesta</h1>

    <div class="col-sm-8">
    <table class="table">
        <thead>
        <tr>
            <th>Miembro</th>
            <th>Instrumento</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ricardo Pocino Martín</td>
            <td>1º violín, concertino</td>
        </tr>
        <tr>
            <td>Cristina Bizarro</td>
            <td>1º violín</td>
        </tr>
        <tr>
            <td>Itziar Bizkarralegorra Otazua</td>
            <td>1º violín</td>
        </tr>
        <tr>
            <td>Garazi Martínez Gómez</td>
            <td>1º violín</td>
        </tr>
        <tr>
            <td>Jon Freire Gómez</td>
            <td>1º violín</td>
        </tr>
        <tr>
            <td>Juan Andrés Vazquez Antón</td>
            <td>1º violín</td>
        </tr>

        <tr>
            <td>Laura Benavente Ruiz</td>
            <td>2º violín</td>
        </tr>
        <tr>
            <td>Esther Hernández Mejías</td>
            <td>2º violín</td>
        </tr>
        <tr>
            <td>Ane López</td>
            <td>2º violín</td>
        </tr>
        <tr>
            <td>Olalla Niño</td>
            <td>2º violín</td>
        </tr>
        <tr>
            <td>Josune Sarabia Zarraga</td>
            <td>2º violín</td>
        </tr>

        <tr>
            <td>Laura Farré Jaques</td>
            <td>Viola</td>
        </tr>
        <tr>
            <td>Juan Ignacio Zorrilla</td>
            <td>Viola</td>
        </tr>

        <tr>
            <td>Iker Aburto</td>
            <td>Violonchelo</td>
        </tr>
        <tr>
            <td>Santi Salinas</td>
            <td>Violonchelo</td>
        </tr>
        <tr>
            <td>Carmen Irigaray Lorea</td>
            <td>Contrabajo</td>
        </tr>

        <tr>
            <td>Agustín Churruca Otero</td>
            <td>Flauta</td>
        </tr>
        <tr>
            <td>Sara Gil</td>
            <td>Flauta</td>
        </tr>
        <tr>
            <td>Oscar Riguera Sánchez</td>
            <td>Clarinete</td>
        </tr>

        </tbody>
    </table>
    </div>
{% endblock %}
