{% extends "AppBundle::layout.html.twig" %}

{% block title %}Paula Pérez, antigua directora{% endblock %}

{% block description_metatag %}
    Paula Pérez, antigua directora del Coro y Orquesta de Cámara de Bilbao desde noviembre de 2012, hasta octubre de 2014. Especialidad en Dirección Orquestal.
{% endblock %}

{% block keywords_metatag %}
    Paula Pérez, antigua directora, coro, orquesta, cámara, bilbao, dirección, conservatorio superior, música, país vasco, musikene, especialidad, piano
{% endblock %}

{% block content %}
<h1>Paula Pérez, antigua directora del coro y orquesta</h1>

    <p><img class="pull-left thumbnail margin-right-sm" alt="Paula Pérez, Antigua directora del coro y orquesta" title="Paula Pérez, Antigua directora del coro y orquesta" src="{{ asset('bundles/app/images/miembros/paula-perez.jpg') }}" />Comienza sus estudios musicales en el Conservatorio de Grado Medio de Barakaldo. Posteriormente ingresa en la Sociedad Coral Zigor de Barakaldo, donde empieza su trayectoria en el mundo coral, realizando varios cursos a cargo de la Federación de Coros de Euskalherria y la Federación Cántabra de Coros.</p>

    <p>Tras finalizar sus estudios de piano decide continuar su formación musical en el Conservatorio Superior de Música del País Vasco (Musikene), donde obtiene el Título Superior de Música en la especialidad de Dirección de Orquesta, bajo la tutela del maestro Enrique García Asensio.</p>

    <p>Directora invitada por la Orquesta de Cámara de Cuerda Araba Consort. Actualmente compagina su labor como profesora de Orquesta, Banda y Coro, la dirección de las corales Txuma Olagüe Abesbatza de Sondika y el coro Orpheo de Leioa, junto con la dirección artística de la Banda de Areatza. En 2012 se hace cargo de la dirección musical de la Asociación de Música de Cámara de Bilbao, asumiendo la dirección del Coro y la Orquesta de dicha agrupación.</p>

    <p>Desde noviembre de 2012 hasta octubre de 2014 dirigió  se hace cargo de la Dirección artística de la Asociación de Música de Cámara de Bilbao, asumiendo la dirección del Coro y la Orquesta de dicha agrupación, sucediendo a <a href="{{ path('ficha_txaber_fernandez') }}" title="Txaber Fernández, Antiguo director del coro y orquesta">Txaber Fernández</a>.</p>

    <p>En octubre de 2014 fue sustituida por <a href="{{ path('ficha_hilario_extremiana') }}" title="Hilario Extremiana, Director del coro y orquesta">Hilario Extremiana</a> como director de la orquesta y coro de cámara.</p>

{% endblock %}
