{% extends "AppBundle::layout.html.twig" %}

{% block title %}Txaber Fernández, antiguo director{% endblock %}

{% block description_metatag %}
    Txaber Fernández, antiguo director del Coro y Orquesta de Cámara de Bilbao desde marzo de 2009 hasta noviembre de 2012. Especialidad en Dirección Orquestal
{% endblock %}

{% block keywords_metatag %}
    Txaber Fernández, antiguo director, coro, orquesta, cámara, bilbao, diploma, universidad, profesores, país vasco, especialidad, violín, estudios
{% endblock %}

{% block content %}
<h1>Txaber Fernández, Antiguo director del coro y orquesta</h1>

<p><img class="pull-left thumbnail margin-right-sm" alt="Txaber Fernández, Antiguo director del coro y orquesta" title="Txaber Fernández, Antiguo director del coro y orquesta" src="{{ asset('bundles/app/images/miembros/txaber-fernandez.jpg') }}" />Txaber Fernández Martín, nace en Bilbao el 30 de mayo de 1986. Estudia violín en el conservatorio Juan Crisóstomo Arriaga con Nicolae Duca y Fernando Bravo, finalizando sus estudios de grado medio en 2007. Este mismo año se diploma en la Universidad de Profesores de Bilbao en la especialidad de música. De 2005 a 2009 ha participado en numerosos encuentros con la EGO (Joven Orquesta de Euskal Herria).</p>

<p>Actualmente tiene terminada la especialidad de Dirección de Orquesta en Musikene con Manel Valdivieso, tras haber realizado sus primeros años con Enrique García Asensio.</p>

<p>Desde marzo de 2009 hasta noviembre de 2012 dirigió el Coro y Orquesta de Cámara de Bilbao sucediendo el cargo de <a href="{{ path('ficha_alain_sancho') }}" title="Alain Sancho, Antiguo director del coro y orquesta">Alain Sancho</a>.</p>

<p>En noviembre del 2012 fue sustituido por <a href="{{ path('ficha_paula_perez') }}" title="Paula Pérez, Antigua directora del coro y orquesta">Paula Pérez</a> como directora de la orquesta y coro de cámara.</p>

{% endblock %}
