@import "variables";

// General rules
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $body-padding-top;
  margin-bottom: $body-margin-bottom;
}

.footer {
  padding-top: $footer-padding-top;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $body-margin-bottom - $footer-padding-top;
  background-color: #f5f5f5;
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .footer {
    height: $body-margin-bottom-xs;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
}

.caret-right {
  border-bottom: $caret-width-base solid transparent;
  border-top: $caret-width-base solid transparent;
  border-left: $caret-width-base solid #000000;
  display: inline-block !important;
  height: 0;
  opacity: 0.3;
  vertical-align: baseline;
  width: 0;
}

.color-grey{
  color: #888;
}

a {
  color: $link-color;

  &:hover, &:active{
    color: $link-hover-color;
  }
}

#content.container {
  font-size: 125%;
}

// Slightly increased max-height
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 390px;
}

// Public Navbar Menu
$dropDown: true;
.navbar-maroon {
  background-color: $maroon-navbar-bg-color;
  border-color: $maroon-navbar-bg-active-color;
  .navbar-brand {
    color: $maroon-navbar-color;
    &:hover, &:focus {
      color: $maroon-navbar-active-color;
    }
  }
  .navbar-text {
    color: $maroon-navbar-color;
  }
  .navbar-nav {
    > li {
      > a {
        color: $maroon-navbar-color;
        &:hover, &:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $maroon-navbar-bg-color;
          > li > a {
            color: $maroon-navbar-color;
            &:hover, &:focus {
              color: $maroon-navbar-active-color;
              background-color: $maroon-navbar-bg-active-color;
            }
          }
          .divider {
            background-color: $maroon-navbar-bg-active-color;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $maroon-navbar-active-color;
        background-color: $maroon-navbar-bg-active-color;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $maroon-navbar-active-color;
        background-color: $maroon-navbar-bg-active-color;
      }
    }
  }
  .navbar-toggle {
    border-color: $maroon-navbar-bg-active-color;
    &:hover, &:focus {
      background-color: $maroon-navbar-bg-active-color;
    }
    .icon-bar {
      background-color: $maroon-navbar-color;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $maroon-navbar-color;
  }
  .navbar-link {
    color: $maroon-navbar-color;
    &:hover {
      color: $maroon-navbar-active-color;
    }
  }

  // Auto-dropdown in screens larger than XS
  @media (min-width: $screen-sm-min) {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
  }

  // Rules for mobile navigation
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    background-color: $maroon-navbar-bg-color;
    border-color: $maroon-navbar-bg-active-color;
    .navbar-brand {
      color: $maroon-navbar-color;
      &:hover, &:focus {
        color: $maroon-navbar-active-color;
      }
    }
    .navbar-text {
      color: $maroon-navbar-color;
    }
    .navbar-nav {
      > li {
        > a {
          color: $maroon-navbar-color;
          &:hover, &:focus {
            color: $maroon-navbar-active-color;
            background-color: $maroon-navbar-bg-active-color;
          }
        }
        @if $dropDown {
          > .dropdown-menu {
            background-color: $maroon-navbar-bg-color;
            > li > a {
              color: $maroon-navbar-color;
              &:hover, &:focus {
                color: $maroon-navbar-active-color;
                background-color: $maroon-navbar-bg-active-color;
              }
            }
            .divider {
              background-color: $maroon-navbar-bg-active-color;
            }
          }
        }
      }
      > .active {
        > a, > a:hover, > a:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
      > .open {
        > a, > a:hover, > a:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
    }
    .navbar-toggle {
      border-color: $maroon-navbar-bg-active-color;
      &:hover, &:focus {
        background-color: $maroon-navbar-bg-active-color;
      }
      .icon-bar {
        background-color: $maroon-navbar-color;
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $maroon-navbar-color;
    }
    .navbar-link {
      color: $maroon-navbar-color;
      &:hover {
        color: $maroon-navbar-active-color;
      }
    }

    & .navbar-nav .open .dropdown-menu {
      > li > a {
        color: $maroon-navbar-color;
        &:hover, &:focus {
          color: $maroon-navbar-active-color;
        }
      }
      > .active {
        > a, > a:hover, > a:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
    }
  }
}


// Vertical margins
@each $name, $value in $margins {
  .margin-top-#{$name} {
    margin-top: $value;
  }

  .margin-bottom-#{$name} {
    margin-bottom: $value;
  }

  .margin-left-#{$name} {
    margin-left: $value;
  }

  .margin-right-#{$name} {
    margin-right: $value;
  }
}

// General form rules
form {
  span.required {
    color: $brand-danger;
  }

  .form-group label {
    margin-top: 0.5em;
  }

  ul.form-errors {
    padding-left: 0;
    margin-bottom: 0;

    li {
      padding: 5px 15px;
      list-style: none;
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-xs-max) {
    .form-group > div {
      margin-bottom: 0.5em;
    }

    .form-group label {
      margin-left: 0.25em;
    }
  }
}

.galeria-th {
  text-align:center;
}
