@import "general";

.footer {
  padding-top: $footer-padding-top;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $body-margin-bottom - $footer-padding-top;
  background-color: #f5f5f5;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .footer .col-sm-3.little-padding, .footer .col-sm-6.little-padding{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .footer .col-sm-6.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: $screen-xs-max) {
  body {
    margin-bottom: $body-margin-bottom-xs;
  }

  .footer {
    height: $body-margin-bottom-xs - $footer-padding-top;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
}

.caret-right {
  border-bottom: $caret-width-base solid transparent;
  border-top: $caret-width-base solid transparent;
  border-left: $caret-width-base solid #000000;
  display: inline-block !important;
  height: 0;
  opacity: 0.3;
  vertical-align: baseline;
  width: 0;
}

.color-grey{
  color: #888;
}

a {
  &, &:visited {
    color: $maroon-link-color;
  }

  &:hover, &:active{
    color: $maroon-link-hover-color;
  }
}


// Pagination (change color)
.pagination {
  > li {
    > a,
    > span {
      color: $maroon-link-color;
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $maroon-link-color;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      background-color: $maroon-link-color;
      border-color: $maroon-link-color;
    }
  }
}



#content.container {
  font-size: 125%;
}

// Slightly increased max-height
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 390px;
}

// Public Navbar Menu
$dropDown: true;
.navbar-maroon {
  background-color: $maroon-navbar-bg-color;
  border-color: $maroon-navbar-bg-active-color;
  .navbar-brand {
    color: $maroon-navbar-color;
    &:hover, &:focus {
      color: $maroon-navbar-active-color;
    }
  }
  .navbar-text {
    color: $maroon-navbar-color;
  }
  .navbar-nav {
    > li {
      > a {
        color: $maroon-navbar-color;
        &:hover, &:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $maroon-navbar-bg-color;
          > li > a {
            color: $maroon-navbar-color;
            &:hover, &:focus {
              color: $maroon-navbar-active-color;
              background-color: $maroon-navbar-bg-active-color;
            }
          }
          .divider {
            background-color: $maroon-navbar-bg-active-color;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $maroon-navbar-active-color;
        background-color: $maroon-navbar-bg-active-color;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $maroon-navbar-active-color;
        background-color: $maroon-navbar-bg-active-color;
      }
    }
  }
  .navbar-toggle {
    border-color: $maroon-navbar-bg-active-color;
    &:hover, &:focus {
      background-color: $maroon-navbar-bg-active-color;
    }
    .icon-bar {
      background-color: $maroon-navbar-color;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $maroon-navbar-color;
  }
  .navbar-link {
    color: $maroon-navbar-color;
    &:hover {
      color: $maroon-navbar-active-color;
    }
  }

  // Auto-dropdown in screens larger than XS
  @media (min-width: $screen-sm-min) {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
  }

  // Rules for mobile navigation
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    background-color: $maroon-navbar-bg-color;
    border-color: $maroon-navbar-bg-active-color;
    .navbar-brand {
      color: $maroon-navbar-color;
      &:hover, &:focus {
        color: $maroon-navbar-active-color;
      }
    }
    .navbar-text {
      color: $maroon-navbar-color;
    }
    .navbar-nav {
      > li {
        > a {
          color: $maroon-navbar-color;
          &:hover, &:focus {
            color: $maroon-navbar-active-color;
            background-color: $maroon-navbar-bg-active-color;
          }
        }
        @if $dropDown {
          > .dropdown-menu {
            background-color: $maroon-navbar-bg-color;
            > li > a {
              color: $maroon-navbar-color;
              &:hover, &:focus {
                color: $maroon-navbar-active-color;
                background-color: $maroon-navbar-bg-active-color;
              }
            }
            .divider {
              background-color: $maroon-navbar-bg-active-color;
            }
          }
        }
      }
      > .active {
        > a, > a:hover, > a:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
      > .open {
        > a, > a:hover, > a:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
    }
    .navbar-toggle {
      border-color: $maroon-navbar-bg-active-color;
      &:hover, &:focus {
        background-color: $maroon-navbar-bg-active-color;
      }
      .icon-bar {
        background-color: $maroon-navbar-color;
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $maroon-navbar-color;
    }
    .navbar-link {
      color: $maroon-navbar-color;
      &:hover {
        color: $maroon-navbar-active-color;
      }
    }

    & .navbar-nav .open .dropdown-menu {
      > li > a {
        color: $maroon-navbar-color;
        &:hover, &:focus {
          color: $maroon-navbar-active-color;
        }
      }
      > .active {
        > a, > a:hover, > a:focus {
          color: $maroon-navbar-active-color;
          background-color: $maroon-navbar-bg-active-color;
        }
      }
    }
  }
}


.galeria-th {
  text-align:center;
}

.img-width-50 {
  width: 50px;

}

.img-width-100 {
  width: 100px;

}


// Form Signin (Login privado)
.form-signin {
  max-width: 330px;
  padding: 30px 0;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

