// Padding & Margin
$body-padding-top: 50px;

// Colors

$link-color: #C00;
$link-hover-color: #B00;

$maroon-navbar-bg-color: #990000;
$maroon-navbar-bg-active-color: #bb0000;
$maroon-navbar-color: #e5e5e5;
$maroon-navbar-active-color: #ffffff;