div#content-wrapper div.imagen-inicio{
  text-align: center;
  margin: 1.5em 0em;
}

div#content-wrapper div.imagen-inicio img{
  border-radius: 3px;
  margin: 0.5em;
  box-shadow: 0 0 3px 2px #CCC;
}

div#content-wrapper div#contactos{
  display: inline-block;
}

div#content-wrapper div.info-contacto{
  float: left;
  width: 16.5em;
  margin: 0.5em;
  border: 0.1em solid #CCC;
  border-radius: 0.5em 0.5em 0em 0em;
}

div#content-wrapper div.info-contacto-head{
  text-align: center;
  font-weight: bold;
  padding: 0.5em 0;
  width: 100%;
}

div#content-wrapper div.info-contacto-body{
  border-top: 0.1em #CCC dashed;
  background: #EEE;
  padding: 0.3em 0.5em;
  line-height: 1.3em;
}

div#contactos{
  overflow: auto;
  padding: 0.75em 0em;
}

div#contactos div.div-contacto-wrapper{
  /*width: 12.5em;*/
  
  /*float: left;
  display: inline-block;
  height: 6.5em;
  border: 0.1em solid #CCC;
  margin: 0.3em;
  padding: 0.5em 1em;
  border-radius: 0.3em;*/
  
  /*background: #FAFAFA;
  background: -webkit-linear-gradient(#EEE, #FFF 35%);
  background: -moz-linear-gradient(#EEE, #FFF 35%);
  background: -o-linear-gradient(#EEE, #FFF 35%);
  background: -ms-linear-gradient(#EEE, #FFF 35%);
  background: linear-gradient(#EEE, #FFF 35%);*/
}

div#contactos div.div-contacto-wrapper div.div-contacto-titulo{
  text-align: center;
}

div#contactos div.div-contacto-wrapper div.div-contacto-info{
  /*font-size: 95%;*/
  line-height: 1.5em;
}

/*div#contactos div.div-contacto-wrapper hr{
  margin: 0.5em 0em;
}*/

div#contenido-inicio{
  padding-right: 1em;
  width: 43em;
  display: inline-block;
  float: left;
}

#social-right{
  padding: 1.5em 0em 1em 0em;
  width: 20em;
  display: inline-block;
  float: right;
}
div#galeria-wrapper{
  margin-top: 1.5em;
}

div.galeria{
  overflow: auto;
  margin-top: 2em;
}

div.galeria .foto-wrapper{
  float: left;
  width: 150px;
  height: 150px;
  margin: 3px;
  background: #EEE;
}

div.galeria .foto-wrapper a{
  width: 150px;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div.galeria .foto-wrapper img{
  
}

div.portada-adds-wrapper, div#contactos{
  overflow: auto;
  text-align: center;
}

div.portada-adds-wrapper > div{
  float: left;
  padding: 0.7em;
  border-left: 0.1em solid #CCC;
  width: 19.6em;
  height: 2.5em;
}

div#contactos > div{
  float: left;
  padding: 0.7em;
  border-left: 0.1em solid #CCC;
  width: 19.6em;
}

div.portada-adds-wrapper > div:first-child, div#contactos > div:first-child{
  border: none;
}

div.video-wrapper{
  margin-top: 2em;
}

div.video-wrapper > iframe{
  padding: 1em 1.5em;
}

ul.lista-noticias-conciertos li{
  line-height: 1.5em;
}