table#tabla-orquesta, table#tabla-coro{
  margin: 1em 0;
}

table#tabla-orquesta tr, table#tabla-coro tr{
  border-bottom: 1px dotted #EEE;
}

table#tabla-orquesta tr:hover, table#tabla-coro tr:hover{
  background: #EEE;
  background: -webkit-linear-gradient(#EEE, #DDD);
  background: -moz-linear-gradient(#EEE, #DDD);
  background: -o-linear-gradient(#EEE, #DDD);
  background: -ms-linear-gradient(#EEE, #DDD);
  background: linear-gradient(#EEE, #DDD);
}

table#tabla-orquesta tr td, table#tabla-coro tr td{
  padding: 0.5em;
}

div#cuadrado-coro{
  width: 48em;
}

div#cuadrado-coro > div{
  width: 22em;
  padding: 1em;
  float: left;
  display: inline-block;
}

div#cuadrado-coro div.agudos{
  height: 11em;
}

div#cuadrado-coro ul li{
  line-height: 1.5em;
}

ul.lista-junta{
  padding: 1em 0em;
  line-height: 1.5em;
}

div#miembros-wrapper{
  overflow: auto;
}

div#miembros-wrapper div.miembros-opciones-cuadrados{
  width: 30em;
  float: left;
  margin: 1em;
}

div#miembros-wrapper div.miembros-opciones-cuadrados img{
  float: left;
}

div#miembros-wrapper > div.miembros-opciones-cuadrados > div{
  width: 20em;
  float: left;
  overflow: auto;
}

div#miembros-wrapper div.miembros-opciones-cuadrados h2{
  margin: 0.5em;
  font-size: 1.2em;
}

div#miembros-wrapper div.miembros-opciones-cuadrados p{
  margin: 0.5em 0em 1em 1em;
  font-size: 0.9em;
}