{% extends "AppBundle::layout.html.twig" %}

{% block title %}Escúchanos{% endblock %}

{% block description_metatag %}
    Selección de vídeos de obras interpretadas por el Coro y Orquesta de Cámara de Bilbao en conciertos y actuaciones recientes.
{% endblock %}

{% block keywords_metatag %}
    Vídeos, youtube, coro, orquesta, cámara, bilbao, interpretación, grabación, directo, concierto, actuación, dirección, solistas
{% endblock %}

{% block content %}
<h1>Escúchanos</h1>

    <p>Selección de vídeos de obras interpretadas por el Coro y Orquesta de Cámara de Bilbao en conciertos y actuaciones.</p>

<div class="row">
    {% for video in videos %}
        <div class="col-sm-6 margin-bottom-lg">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" frameborder="0" src="//www.youtube.com/embed/{{ video }}" data-allowfullscreen="true" allowfullscreen></iframe>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
