{% extends "AppBundle::layout.html.twig" %}

{% block title %}Historia{% endblock %}

{% block description_metatag %}
    Historia y trayectoria musical de la Asociación de Música de Cámara de Bilbao, a la que pertenece el Coro y Orquesta de Cámara de Bilbao, desde 1977.
{% endblock %}

{% block keywords_metatag %}
    Historia, trayectoria, asociación, música, cámara, bilbao, coro, orquesta, aficionados, conciertos, música clásica, conciertos didácticos, bodas, solistas, intérpretes
{% endblock %}

{% block content %}
<h1>Historia de la Asociación de Música de Cámara de Bilbao</h1>

<p>Esta Asociación tiene sus inicios en 1977, cuando un grupo de bilbainos, melómanos y aficionados a la música vocal, decide materializar su sueño musical y constituye un grupo vocal, <em>El Coro de Cámara de Bilbao</em> cuya primera actuación tuvo lugar el 1 de abril de 1977, en la Iglesia de San Pedro de Lanuza, Llodio (Álava)</p>

<p>Este primer retoño precede a la formación de la <em>Asociación de Música de Cámara de Bilbao (AMCB)</em>, que se plasmó como asociación legalmente constituida el 13 de enero de 1978.</p>

<p>Un año más tarde nace su compañera: <em>La Orquesta de Cámara de Bilbao</em>, que tuvo su primera actuación en 1979. A partir de entonces esta formación, en  adelante conocida como <em>Coro y Orquesta de Cámara de Bilbao</em>, uno de los rasgos de identidad más peculiares y diferenciadores, pues no abundan los casos de esta combinación en el paisaje de la música de Bilbao y aún de Bizkaia.</p>


<h2>Nuestra música</h2>

<p>A lo largo de sus años de existencia, la AMCB ha dado cientos de conciertos en Bilbao, ha recorrido Bizkaia y ha visitado otras ciudades españolas y también del extranjero. Su repertorio, de calidad, culto, exquisito, pero flexible y amante de la renovación. Deudor de cada momento artístico, de cada director, de la conformación del grupo, pero siempre con magnífica y muy grata de escuchar. Así, desde el gregoriano a la música folclórica, pasando por el renacimiento, el barroco, romanticismo, clasicismo... música religiosa y profana, vasca y foránea, a capella, orquestal... el repertorio más reciente se está centrando en la música barroca y clásica.</p>

<p>Además de conciertos de una manera tradicional, formal, la AMCB ha ofrecido Conciertos Didácticos para niños y jóvenes, ha impartido conferencias sobre temas musicales y ha participado en espectáculos de danza, música y poesía.</p>

<p>En el año 2011, cuando se cumplieron el 50 Aniversario del fallecimiento del compositor Jesús Guridi, dedicamos un ciclo de concierto íntegramente a su música, lo cual tuvo repercusión en los medios de comunicación. En el año 2012, celebramos en el Teatro campos de Bilbao nuestro XXXV aniversario, con éxito de crítica y público.</p>


<h2>Nuestra agrupación musical</h2>

<p>Por nuestra asociación han pasado grandes intérpretes como Asier Polo, violonchelista que permaneció más de dos años en la orquesta. Sopranos como Vanessa Goikoetxea, que fue solista en el Coro de Cámara en múltiples conciertos, Esther Urquijo, Maribel Per, el pianista Javier Artaza, el barítono Fernando Latorre, el Bajo José Manuel Vázquez, el violista Seco... por citar sólo a algunos.</p>

<p>Hoy en día el Coro cuenta con voces solistas permanentes, como María Montes, soprano, profesora de canto lírico, Elena Roldán, Contralto, Iker Freire, tenor, etc. En cuanto a los solistas de la Orquesta, cuenta con la concertino Estibaliz Ruiz Oiz.</p>

<p>La formación musical es estos momentos la conforma el coro, con las cuerdas de Soprano, Contralto, Tenor y Bajo, integrado actualmente por unas 20 personas y otras tantas para la orquesta, con los siguientes instrumentos: violines, violas, violonchellos, contrabajo, flauta/flautín, flauta travesera, oboe, clarinete y fagot, todos bajo la batuta del director del Coro y Orquesta Hilario Extremiana.</p>

<p>Hoy en día, bajo la presidencia de José Mª Herrero Burgoa, la Asociación abre nuevos caminos, explorando foros y fórmulas nuevas y dando un aire de modernidad a la forma de gestionar la organización, que tiene presencia musical y social en los medios de comunicación habituales, pero también en Internet (<a href="{{ path('homepage') }}" title="Página de inicio de la AMCB">Web de la AMCB</a>, <a href="https://www.facebook.com/coro.orquesta.bilbao" title="Página de Facebook de la AMCB" target="_blank">Facebook</a>, <a href="http://www.youtube.com/channel/UCAvcxJhrM8tgfnuy6m2q0gA" title="Canal de YouTube del Presidente de la AMCB" target="_blank">Youtube</a>)</p>


<br />

<h3>Anexo 1. Algunos lugares y fechas</h3>

<p>Los conciertos en auditorios y teatros de más relevancia son los ofrecidos en el Teatro Campos Elíseos (1982), y en el Teatro Coliseo Albia (1982), Colegiata de Osuna en Sevilla (1982), Iglesia Conventual de Santo Domingo en Cádiz (1982), Catedral del Buen Pastor de San Sebastián (1981 y 1985), en el Teatro Real  de Madrid (1983),  Basílica de Ntra. Sra. de Begoña en Bilbao (1985, 1995, 2002), Teatro Principal de Vitoria  (1.986), Teatro Amaia en Basauri (1986), Teatro Ayala (1986), Teatro Arriaga (1988 [2], 1.989 y 1991), Gran Teatro de Burgos ,Catedral de Burgos (1992), (1994), Catedral  de Santo Domingo de la Calzada en La Rioja (1994 y 1995), Teatro Argensola de Babastro en Huesca (1996), Auditorium del Ayuntamiento de Logroño (1989 y 1996) en el Gran Teatro de Burgos (1994), Iglesia Arzobispal Castrense  en Madrid (1995), y los ofrecidos en Bilbao en el Auditorio del Museo de Arte Moderno "Guggenheim" (1997), Palacio de Congresos y de la Música "Palacio Euskalduna" (1999 y 2000), Roma, Palacio Frascatti (2007), capilla Gótica de la Universidad de Deusto (2007),  Andra Mari de Galdakao (2009), Catedral de Santiago  en Bilbao (1980, 1982, 1988, 1989, 1996, 2004, 2008 y 2010, 2011, 2013), Teatro Campos de Bilbao (2012, 2013)</p>

{% endblock %}
