{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Repertorio{% endblock %}

{% block description_metatag %}
    Repertorio de obras de música clásica y folklórica interpretadas habitualmente por el Coro y Orquesta de Cámara de Bilbao en conciertos y actuaciones.
{% endblock %}

{% block keywords_metatag %}
    Repertorio, obras, autores, música, barroco, clásica, folklore, tradicional, popular, coro, orquesta, Guridi, Jesús, interpretación, solistas, villancicos
{% endblock %}

{% block content %}
    <h1>Repertorio</h1>

    <table class="repertorio-general">
    <tbody>
    <tr>
        <th>Obra</th>
        <th>Autor</th>
        <th>Coro / Orquesta</th>
    </tr>

    <tr>
        <td>Adagio</td>
        <td>Albinoni</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Adeste Fideles</td>
        <td>Popular</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Aita Gurea</td>
        <td>F. Madina</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Alabatua (X Melodías Vascas)</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Aleluya</td>
        <td>W. A. Mozart</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Amazing Grace</td>
        <td>Arr. Carsten Gerlitz</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Aritz Adarrean (X Melodías Vascas)</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Asiko Naz</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Ator, ator</td>
        <td>J. Guridi (Trad. Vasca)</td>
        <td>Coro</td>
    </tr>
    <tr>
        <td>Ator, ator</td>
        <td>J. Guridi (Trad. Vasca)</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Ave María</td>
        <td>J. Guridi</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Ave María (Cavalleria Rsuticana)</td>
        <td>P. Mascagni</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Ave María</td>
        <td>L. Cherubini</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Ave María</td>
        <td>CH. Gounod</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Ave Verum</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Ave Verum</td>
        <td>W. A. Mozart</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Barcarola</td>
        <td>Offenbach</td>
        <td>Solistas, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Because</td>
        <td>The Beatles</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Boga, boga</td>
        <td>J. Guridi</td>
        <td>Coro</td>
    </tr>
    <tr>
        <td>Bogoroditse Devo</td>
        <td>S. Rachmaninov</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Brazileira</td>
        <td>D. Milhaud</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Cantata BWV 147</td>
        <td>J. S. Bach</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Canticorum Jubilo</td>
        <td>Händel</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Cantique de Jean Racine</td>
        <td>Fauré</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Cantique de Noël</td>
        <td>A. C. Adam</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Celtic Song</td>
        <td>Arr. Alain Sancho</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Concierto en Re Majeur</td>
        <td>A. Vivaldi</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Con qué la lavaré</td>
        <td>J. Rodrigo (Arr. Alain Sancho)</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Contre Qui Rose</td>
        <td>M. J. Lauridsen</td>
        <td>Coro</td>
    </tr>
    <tr>
        <td>Coro Románticos</td>
        <td>A. Vives</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Chiruliruli</td>
        <td>J. Guridi</td>
        <td>Coro</td>
    </tr>
    <tr>
        <td>Death Of Asse</td>
        <td>E. Grieg</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>De costa a costa</td>
        <td>A. Sancho</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Dedziet Skalu Putiet Guni</td>
        <td>Popular Letona</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Dravidian Dithyramb</td>
        <td>V. Paranjoti (Popular India)</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Eine Kleine Nachtmusik in G</td>
        <td>W. A. Mozart</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>El Caserío 1</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>El Caserío 2</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Eleanor Rigby</td>
        <td>The Beatles</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>El Mesías (Selección)</td>
        <td>G. F. Haendel</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Exaudi Domine</td>
        <td>W. H. Veit</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Fac Ut Portem (Stabat Mater)</td>
        <td>Pergolesi</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Garizuma Luzerik</td>
        <td>Jesús Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Gillie Mor Air  </td>
        <td>Alain Sancho</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Gloria (Samba Brasilera)</td>
        <td>V. Bianchi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Gloria Rv 589</td>
        <td>Vivaldi</td>
        <td>Solistas, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Goizeko Izarra</td>
        <td>Arm: Alain Sancho</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Greensleeves</td>
        <td>Arr. Carsten Gerlitz</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Haurtxo Polita</td>
        <td>Arr. Alain Sancho</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Haurtxo Polita</td>
        <td>Trad. Vasca(Arr.Paula Pérez)</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Heilig, Ist Der Herr</td>
        <td>F. Schubert</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Hjertesar  Op 34</td>
        <td>Grieg</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Intellige Clamorem Meam</td>
        <td>C. L. Drobisch</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Irrifar Baten Truke</td>
        <td>Alain Sancho</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Jentileri Un</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Jingle Bells</td>
        <td>J. Pierpont</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Kyrie In F</td>
        <td>Mozart</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Leyenda Del Beso</td>
        <td>&nbsp;</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Los Gavilanes</td>
        <td>J. Guerrero</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Maitia Nun Zira</td>
        <td>J. Uruñuela</td>
        <td>Coro</td>
    </tr>
    <tr>
        <td>Magnificat</td>
        <td>J. Pachelbel</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Mañanicas Floridas</td>
        <td>A. Duo Vital</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Maria Vaggsang</td>
        <td>&nbsp;</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Meditacion De Thais</td>
        <td>Masenet</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Misa En G</td>
        <td>F. Gorriti</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Misa San Gabriel</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Mozuca</td>
        <td>A. Duo Vital</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Muerdago </td>
        <td>Jesus Guridi</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Nerea Izango Zen</td>
        <td>Arr: J. Busto</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Nga Iwi E</td>
        <td>Pop. Maorí</td>
        <td>Coro</td>
    </tr>
    <tr>
        <td>O Bella Mia Speranza</td>
        <td>L. Perosi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Offertorium</td>
        <td>M. Haydn</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Oh Had Jubal’s Lyre</td>
        <td>G.F. Haendel</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Oiñazez</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>O Sole Mio</td>
        <td>E. Di Capua</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>O Tannenbaum</td>
        <td>Arr: S. Karpiniec</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Panis Angelicus</td>
        <td>C. Franck</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Pavana</td>
        <td>Fauré</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Pequeña Czarda </td>
        <td>Pedro Iturralde</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Pobrecito Corazón</td>
        <td>Pop. Colombiana</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Requiem (Selección)</td>
        <td>W. A. Mozart</td>
        <td>Solistas, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Sant Urbanen Bezpera</td>
        <td>Jesús Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Scarborough Fair</td>
        <td>Arr. Carsten Gerlitz</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Se Ha Perdido Una Novia</td>
        <td>A. Duo Vital</td>
        <td>Solistas y Orquesta</td>
    </tr>
    <tr>
        <td>Silent Night</td>
        <td>F. Gruber</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Sing A Song Of Sixpence</td>
        <td>Pop. Inglesa</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Siyahamba</td>
        <td>Pop. Zulú</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>S’nami Bog</td>
        <td>Anónimo</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Sou Leti Nau</td>
        <td>&nbsp;</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Summer Time</td>
        <td>Gershwin</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Swing Low, Sweet Chariot</td>
        <td>Espiritual Negro</td>
        <td>Solista, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Tantum Ergo</td>
        <td>J. Guridi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>The First Nowell</td>
        <td>Arm: J. Stainer</td>
        <td>Solistas, Coro y Orquesta</td>
    </tr>
    <tr>
        <td>The Parting Glass </td>
        <td>Arr. Alain Sancho</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Tollite Hostias</td>
        <td>C. Saint-Saëns</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Txeru</td>
        <td>J. Guridi</td>
        <td>Coro</td>
    </tr>
    <tr>
        <td>Va Pensiero</td>
        <td>Verdi</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Varen</td>
        <td>Grieg</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Villancico</td>
        <td>J. Silguero</td>
        <td>Coro y Orquesta</td>
    </tr>
    <tr>
        <td>Vistas Al Mar </td>
        <td>E. Toldra</td>
        <td>Orquesta</td>
    </tr>
    <tr>
        <td>Xerxes</td>
        <td>G.F. Haendel</td>
        <td>Solista y Orquesta</td>
    </tr>
    <tr>
        <td>Yamamichi No Uta</td>
        <td>Pop. Japonesa</td>
        <td>Coro y Orquesta</td>
    </tr>

    </tbody>
    </table>
{% endblock %}
