{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Repertorio{% endblock %}

{% block content %}
<h1>Repertorio</h1>

<table cellspacing="1" cellpadding="3" class="repertorio-general">
  <tbody>
    <tr>
      <th>Obra</th>
      <th>Autor</th>
      <th>Coro / Orquesta</th>
    </tr>
    
    <tr>
      <td>Adeste Fideles </td>
      <td>Otaño</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Adeste Fideles</td>
      <td>J.F. Wade</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Aita Gurea</td>
      <td>F. Madina</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Alabatua (X Melodías Vascas)</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Amorosa (X Melodías Vascas)</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Andantino Religioso</td>
      <td>F. Gorriti</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Aritz Adarrean (X Melodías Vascas)</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Arno hun hun huntarik</td>
      <td>J. Guridi (Texto popular)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Atardecer</td>
      <td>V. Zubiaurre</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Ator, ator mutil...</td>
      <td>J. Guridi (Trad. Vasca)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Aurtxo Seaskan</td>
      <td>Popular Vasca</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Ave María</td>
      <td>Usandizaga</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Ave María (Cavalleria Rsuticana)</td>
      <td>P. Mascagni</td>
      <td>Soprano solistas, Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Belenem sortuzaigaJinkoa</td>
      <td>J.A. Donostia</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Cantique de Noël</td>
      <td>Villancico Tradicional francés</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Cooney's Reel </td>
      <td>Popular Inglesa</td>
      <td>Whistle grave y agudo y orquesta</td>
    </tr>
    <tr>
      <td>Coventry Carol</td>
      <td>Popular Inglesa</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Dedziet Skalu Putiet Guni</td>
      <td>S. Mence (Tradicinal Letona)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Dos Melodías Elegiacas</td>
      <td>E. Grieg</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Dravidian Dithyramb</td>
      <td>Victor Paranjoti (Tradicional India)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Eguberri gaua</td>
      <td>J. Guridi (Popular Vascofrancés)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Erregeak datoz</td>
      <td>J. Guridi (Villancico popular de San Sebastián)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Euskaldunak</td>
      <td>J.A. Donostia</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Ev'ry Valley Shall Be Exalted Mesias</td>
      <td>G.F. Haendel</td>
      <td>Solista y Orquesta</td>
    </tr>
    <tr>
      <td>Exaudi Domine</td>
      <td>W.H. Veit</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Gabon (Oi Bethleem!)</td>
      <td>J.A. Donostia</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Gaizuma Luzerik (X Melodías Vascas)</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Gloria Samba Brasileña</td>
      <td>Vicente Bianchi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Goizeko Izarra</td>
      <td>Tradicional Vasca</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Greensleeves </td>
      <td>Popular Celta</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Haurxo Polita</td>
      <td>A.D. Sancho (Trad. Vasca)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Intellige Clamorem Meam</td>
      <td>C.L. Drobisch</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Intermerzzo, Caballería Rusticana</td>
      <td>P. Mascagni</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Itxasoa</td>
      <td>Popular Vasca</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Jesu Decus Angelicum</td>
      <td>V. Zubiaurre</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Jingle Bells</td>
      <td>Popular Americana</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Lauda Sion</td>
      <td>N. Ledesma</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Les anges dans nos campagnes</td>
      <td>Popular Francesa</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Mairi's Wedding </td>
      <td>Popular Escocesa</td>
      <td>Gaita escocesa</td>
    </tr>
    <tr>
      <td>Maite</td>
      <td>P. Sorozabal</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Matsaren orpotik</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Misa en G</td>
      <td>F. Gorriti</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Misa en honor del arcángel San Gabriel</td>
      <td>J. Guridi</td>
      <td>Coro y órgano</td>
    </tr>
    <tr>
      <td>Muérdago</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Nerea izango zen</td>
      <td>M. Laboa</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Neure maitia</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Nga Iwi E</td>
      <td>Popular maorí</td>
      <td>Coro</td>
    </tr>
    <tr>
      <td>Noche de Paz</td>
      <td>F. Gruber/S. Ford</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Nundik ator, astoa?</td>
      <td>J. Guridi (Texto popular)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>O Cuan Suavis</td>
      <td>V. Zubiaurre</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>O Sacrum Convivium</td>
      <td>V. Zubiaurre</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>O Salutaris Hostia</td>
      <td>V. Zubiaurre</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>O Tannenbaum</td>
      <td>Tradicional Alemana</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Oh, had Jubal's Lyre</td>
      <td>G.F. Haendel</td>
      <td>Solista y Orquesta</td>
    </tr>
    <tr>
      <td>Obella Mia Speranza</td>
      <td>L. Perosi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Oñazez (Nik Baditut)</td>
      <td>J. Guridi (Texto popular)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Pobrecito Corazón</td>
      <td>Tradicional Colombiana</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Sant Urbanen (X Melodías Vascas)</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Scarborough Fair </td>
      <td>Popular celta</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Sing a Song of Six pence</td>
      <td>Tradicional Inglesa</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Stabat Mater</td>
      <td>V. Zubiaurre</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Stabat Mater</td>
      <td>G.B. Pergolesi</td>
      <td>Solista y Orquesta</td>
    </tr>
    <tr>
      <td>Star of the County Down</td>
      <td>Tradicional Inglesa</td>
      <td>Whistle grave y agudo y orquesta</td>
    </tr>
    <tr>
      <td>Summer time</td>
      <td>Tradicional Americana</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>The First Novel</td>
      <td>Tradicional Inglesa</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Tollite Hostias</td>
      <td>C. Saint-Saens</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Txiruliruli</td>
      <td>J. Guridi</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Villancico</td>
      <td>J. Silguero (Trad. Vasca)</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Vistas al Mar</td>
      <td>E. Toldrá</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>We Wish You A Merry Christmas</td>
      <td>Popular Inglesa</td>
      <td>Coro y Orquesta</td>
    </tr>
    <tr>
      <td>Zigeunerleben</td>
      <td>R. Schumann</td>
      <td>Coro y Orquesta</td>
    </tr>
  </tbody>
  </table>
{% endblock %}