{% extends "::base.html.twig" %}

{% block extra_metatags %}
    <meta name="description" content="{% spaceless %}
    {% if block('description_metatag') %}
        {% block description_metatag %}{% endblock %}
    {% else %}
        El Coro y Orquesta de Cámara de Bilbao, de la AMCB, es una agrupación musical que ofrece conciertos en Bilbao y alrededores desde hace casi 40 años.
    {% endif %}
    {% endspaceless %}">
    <meta name="keywords" content="{% spaceless %}
    {% if block('keywords_metatag') %}
        {% block keywords_metatag %}{% endblock %}
    {% else %}
        Amcb, coro, orquesta, bilbao, música, cámara, conciertos, clásica, repertorio, asociación, contratar, benéfico, director, solista, miembros, socios, bizkaia
    {% endif %}
    {% endspaceless %}">
    <meta name="author" content="Dani Sancas">
{% endblock %}

{% block default_stylesheets %}
  {# Cargamos automáticamente el CSS base y el de cada Controller #}
  <link rel="stylesheet" href="{{ asset('bundles/common/css/styles.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/common/css/'~get_controller_name()~'.css') }}" />
  {% block stylesheets %}{% endblock %}
{% endblock %}
  
{% block default_javascripts %}

    {% block javascripts %}{% endblock %}
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
  
  {# Analytics #}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4193694-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  {% block pre_body %}{% endblock %} {# Para colocar fragmentos de código necesarios al inicio de la etiqueta body #}

  <div id="body-wrapper">

    {% include 'FrontendBundle::header.html.twig' %}

    <div id="content-wrapper">

      {% include 'FrontendBundle:'~(get_controller_name()|capitalize)~':_submenu.html.twig' ignore missing %}

      <div id="content-body">
        <div id="content">
          
          {% include 'FrontendBundle::flash.html.twig' %}

          {% block content %}{% endblock %}

        </div>

      </div>

    </div>

    {% include 'FrontendBundle::footer.html.twig' %}
  </div>

    
  {% if block('documentReady') %}
    <script type="text/javascript">
      $(document).ready(function () {
        {% block documentReady %}{% endblock documentReady %}
      });
    </script>
  {% endif %}
    
{% endblock %}
    
