{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/frontend/css/miembros.css') }}" />
{% endblock %}

{% block content %}
<h1>Miembros de la AMCB</h1>

{% endblock %}