{% extends "AppBundle::layout.html.twig" %}

{% block title %}Próximos conciertos{% endblock %}

{% block description_metatag %}
    Calendario de próximos conciertos del Coro y Orquesta de Cámara de Bilbao. Información completa de eventos y actuaciones de la AMCB.
{% endblock %}

{% block keywords_metatag %}
    Conciertos, próximos, calendario, eventos, actuaciones, información, noticias, programa, repertorio, coro, orquesta, cámara, bilbao
{% endblock %}

{% block content %}
<h1>Calendario de conciertos</h1>

{% if conciertos|length > 0 %}

  {% for concierto in conciertos %}

  {% include 'AppBundle:Concierto:_vistaPrevia.html.twig' %}

  {% endfor %}

{% else %}

<p>Todavía no hay fechas establecidas a corto plazo para próximos conciertos.</p>
<p>Si lo desea puede consultar nuestro <a href="{{ path('archivo_conciertos') }}">archivo de conciertos</a>.</p>

{% endif %}

{% endblock %}
