{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Próximos conciertos{% endblock %}

{% block content %}
<h1>Calendario de conciertos</h1>

{% for concierto in conciertos %}

{% include 'FrontendBundle:Concierto:_vistaPrevia.html.twig' %}

{% endfor %}

{% endblock %}