{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Próximos conciertos{% endblock %}

{% block content %}
<h1>Calendario de conciertos</h1>

{% if conciertos|length > 0 %}

  {% for concierto in conciertos %}

  {% include 'FrontendBundle:Concierto:_vistaPrevia.html.twig' %}

  {% endfor %}

{% else %}

<p>Todavía no hay fechas establecidas a corto plazo para próximos conciertos.</p>
<p>Si lo desea puede consultar nuestro <a href="{{ path('archivo_conciertos') }}">archivo de conciertos</a>.</p>

{% endif %}

{% endblock %}